@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: theme("colors.primary.orange");
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: theme("colors.primary.orange-hover");
}
